# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

.wireit
node_modules
*.local
guides.md

__*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
