# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
firebase-debug.log*
firebase-debug.*.log*


# Firebase cache
.firebase/

.wireit
node_modules
dist
*.local
guides.md

__*

tmp
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
