body {
  background: #fafafa;
  margin: 0;
}

body, html {
font-family: 'Roboto', 'Noto', sans-serif;
}

:root {
--primary-color: #0277bd;
--light-primary-color: #58a5f0;
--dark-primary-color: #004c8c;
--primary-color-tr: #0277bd22;
--secondary-color: #00acc1;
--light-secondary-color: #5ddef4;
--dark-secondary-color: #007c91;
--secondary-color-tr: #00acc122;
--accent-color: #00b8d4;
--color-accent: #00b8d4;
--accent-color-tr: #00b8d422;
--primary-background-color: #ffffff;
--secondary-background-color: #b2bfcb;
--primary-text-color: #212121;
--secondary-text-color: #727272;
--color-secondary-text: #727272;
--disabled-text-color: #646464;
--color-disabled-text: #646464;
--divider-color: #b6b6b6;

--mdc-theme-primary: var(--primary-color);
--mdc-theme-secondary: var(--secondary-color);
--color-danger: #b00020;
--font-weight-semi-bold: 500;

--font-family-code: 'Mono', monospace;
}
